@charset "UTF-8";
@font-face {
font-family: 'helvetica';
}
/*Base style sheet for index of awesome armadillos*/
/*awesome armadillos*/
/*Peter Reinke*/
/*11-2-17*/

body, header, nav, main, footer, ul, li, img p{
  display: block;
  box-sizing: border-box;
}
html {
  background-color: tan;
}
body {
  background-color: brown;
}
header > img {
  /*clear: left;*/
  display: block;
  /*float: left;*/
  width: 100%;
  /*margin left: auto;
  margin right: auto;*/
}
header {
  background-color: grey;
  position: relative;
}
h1 {
  font-family: 'helvetica';
  font-size: 4em;
  /*width: 100%;*/
  color: yellow;
position: absolute;
top: 25%;
left: 30%;

transform: translate(-20%, -50%);
text-shadow: black 2px 4px 3px;
}
section {
  position: relative;

}
section img {
  float: left;
  display: block;
  width: 20%;


}
body{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 640px;
}
/*navigation*/

nav {
  background-color: black;
  height: 20px;
  clear: both;

}
nav ul{
  width: 60%;
margin:auto;
}
nav a {
  background-color: #f7d799;
  display: block;
  height: 20px;
}
nav a:hover {
  background-color: yellow;
}
nav li {
  float: left;
  text-align: center;
  width: 33%;
}
h2 {
  font-family: 'garamond';
  font-size: 50px;
  color: #d58f08;
  text-align: center;
}
p {
  color: #f7d799;
  padding-left: 30px;
  padding-right: 30px;
  margin: 7px;
}

h3 {
  font-family: 'garamond';
  color: white;
  text-align: center;
}
footer{
  clear: left;
  background-color: black;
  line-height: 15px;
  text-align: center;
  color: white;
}
